[submodule "abluent-awesome"]
	path = abluent-awesome
	url = git@github.com:everslick/abluent-awesome.git
[submodule "abluent-audacious"]
	path = abluent-audacious
	url = git@github.com:everslick/abluent-audacious
[submodule "abluent-gtk"]
	path = abluent-gtk
	url = git@github.com:everslick/abluent-gtk
[submodule "abluent-conky"]
	path = abluent-conky
	url = git@github.com:everslick/abluent-conky
